<div class="conatainer-fluid mt-4">
  <div class="row">
    <div class="col-sm-10 bg-light">
      <div class="row">
        <div class="col-sm-12">
          <p-fieldset legend="Filter" [toggleable]="true" [transitionOptions]="'300ms'" >
           <div class="row">
             <div class="col-sm-12">
               
             </div>
           </div>
        </p-fieldset>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12">
          <table datatable [dtOptions]="dtOptions" class="table stripe" style="width: 100%;">
            <thead>
            </thead>
            <tbody *ngIf="masterReview?.length != 0">
              <tr *ngFor="let person of masterReview">
                <td>{{ person.reviewId }}</td>
                <td>{{ person.reviewDateCreated }}</td>
                <td>{{ person.entityId }}</td>
                <td class="font-weight-bold text-dark">{{ person.review }}</td>
                <td>  <p-rating [(ngModel)]="person.reviewRating"  [stars]=person.ratingMaxValue [readonly]=true [cancel]="false"></p-rating></td>
                <td><a href={{person.reviewUrl}}><button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-success p-button-text"></button></a></td>
                <td>
                  
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="masterReview?.length == 0">
              <tr>
                <td colspan="6" class="no-data-available">No data!</td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card shadow" style=" border-radius: 15px;">
        <div class="card-body">
          <h5 class="card-title">Notifications</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p-rating ></p-rating>
          
          <h5>Basic</h5> 
          <p-rating [(ngModel)]="val1" ></p-rating>
        </div>
      </div>
    </div>
  </div>
</div>