<div class="conatainer-fluid mt-4" style="margin-bottom: 50px;">
  <div class="row">
    <div class="col-sm-12 bg-light">
      <div class="row">
        <div class="col-sm-12">
          <!-- <ng-select [multiple]="true" [(ngModel)]="selectedProductType">
            <ng-option *ngFor="let car of productType" [value]="car" [disabled]="false">{{car}}</ng-option>
            <ng-option [value]="'custom'">Custom</ng-option>
        </ng-select> -->
          
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-12">
          <table datatable [dtOptions]="dtOptions" class="table stripe" style="width: 100%;" id="feedbackTable">
            <thead>
            </thead>
            <tbody *ngIf="masterReview?.length != 0">
              <tr *ngFor="let person of masterReview">
                <!-- <td>{{ person.id }}</td> -->
                <td>{{ person.summary }}</td>
                <td>{{ person.text }}</td>
                
                <td>  <p-rating [(ngModel)]="person.score"  [stars]="5" [readonly]=true [cancel]="false"></p-rating></td>
                <td class="font-weight-bold text-dark">{{ person.productId }}</td>
                <!-- <td><a href={{person.reviewUrl}}><button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-success p-button-text"></button></a></td> -->
                <td>
                  
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="masterReview?.length == 0">
              <tr>
                <td colspan="6" class="no-data-available">No data!</td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-2">
      <div class="card shadow" style=" border-radius: 15px;">
        <div class="card-body">
          <h5 class="card-title">Notifications</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p-rating ></p-rating>
          
          <h5>Basic</h5> 
        
        </div>
      </div>
    </div> -->
  </div>
</div>